general:
steps:
  mtaBuild:
    buildTarget: 'CF'

  cloudFoundryDeploy:
    deployTool: 'mtaDeployPlugin'
    deployType: 'standard'
    cloudFoundry:
      org: 'cf-dts-integration-de'
      space: 'dev'
      credentialsId: 'CF_CREDENTIALSID'
  
  karmaExecuteTests:
    dockerImage: 'amio/node-chrome'
    dockerName: 'karma'
    sidecarImage: 'selenium/standalone-chrome'
    sidecarName: 'selenium'
    runCommand: 'npm run karma-ci'